<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 sports-info-container">
      <div class="row">
        <div class="col-md-12 sports-info-container">
          <div class="events_text">イベントタイトル</div>
          <h1 class="events_text">タイトル</h1>
          <h1 class="events_text">タイトル</h1>
          <div class="events-container">
            <%= link_to topics_show_path do %>
              <div class="events_text">11/4</div>
            <% end %>
          </div>
        </div>
        <div class="col-md-12 sports-info-container">
          <div class="events_text">コメント一覧</div>
          <div class="events-container">
            <div class="events_text">11/4</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-offset-1 col-md-2 sports-info-container">
      <div class="events-container">
        <%= link_to datasels_index_path do %>
        <h1 class="events_text">関連イベント</h1>
        <% end %>
      </div>
    </div>
  </div>
</div>
