<div class="users-new-container">
  <h1 class="text-center text-white">詳細検索</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 sports-info-container">
        <h3 class="text-black">ステップ1</h3>
        <div class="row">
          <div class="col-md-12 sports-info-container">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4 sports-info-container">
        <h3 class="text-black">ステップ2</h3>
        <div class="row">
          <div class="col-md-12 sports-info-container">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
