.background-event-wrapper{
  background-size: cover;
  background-color: #EEEEEE;
}
.sports-wrapper{
  margin-top: 50px;
}

.sports-info-container{
  margin: 20px 40px 20px 40px;
  
  h1{
    font-size: 20px;
    margin-bottom: 20px;
  }

  .events-container{
    margin: 20px 20px 20px 45px;
    padding: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    border: 4px double #565656;
  }

  .events_text{
    font-size:  15px;
    color: #565656;
  }
}

.right-wrapper{
  margin: 40px 20px 20px 100px;

  .right-info-container{
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    border: 4px double #565656;

    h1{
      font-size: 20px;
      padding-bottom: 20px;
    }

    .right-info-text{
      font-size: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

#slide {
  width:640px;
  height:300px;
  margin:0 auto;
  position:relative;
}
#slide img {
  position:absolute;
  left:0;
  top:0;
}
